#define _USE_MATH_DEFINES 
#include <iostream>
#include <iomanip>
#include <cmath>

using namespace std;

/**
 * \brief Расчет периметра прямоугольного треугольника
 * \param OneSide Длина первого катета
 * \param TwoSide Длина второго катета
 * \return Периметр прямоугольного треугольника
 */
double getPerimeter(double firstside, double secondside);

/**
 * \brief Расчет площади прямоугольного треугольника
 * \param CatheterOne Длина первого катета
 * \param CatheterTwo Длина второго катета
 * \return Площадь прямоугольного треугольника
 */
double getArea(double firstside, double secondside);

/**
 * \brief Пользовательский выбор расчета  периметра (0) или площади (1)
 */
enum class Choice { perimeter, area };

int main()
{
	double CatheterOne, CatheterTwo;
	cout << "Введите длину первой стороны: "; 
	cin >> CatheterOne;
	cout << "Введите длину второй стороны: ";
	cin >> CatheterTwo;

	cout << "Выбор действия (Если Периметр = 0, Если Площадь = 1) ";
	int input;
	cin >> input;

	const auto choice = static_cast<Choice>(input);

	switch (choice)
	{
		case Choice::perimeter:
        {
           const double Perimeter = getPerimeter(firstside, secondside);
           cout << "Периметр треугольника = " << Perimeter;
           break;
        }
        case Choice::area:
        {
           const double Area = getArea(firstside, secondside);
           cout << "Площадь треугольника = " << Area;
           break;
        }
	}
	return 0;
}

double getPerimeter(double firstside, double secondside)
{
	return firstside + secondside + sqrt(firstside * firstside + secondside * secondside);
}

double getArea(double firstside, double secondside)
{
	return (firstside * secondside) / 2;
}

